<% if model.errors.any? %>
  <div class="error-alert" style="background: red; color: white; padding: 10px;">
    <h2><%= pluralize(model.errors.count, "件のエラーがあります") %></h2>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

